/* All styles for your Card Components live here */

.card-container{
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.card-content{
    margin: 10px 30px 20px 30px;
}
.cardp{
    font-size: 2em;
    margin: 10px 0;
}
.newtron{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
a{
    text-decoration: none;
    color: grey;
    font-size: 2em;
}