body{
    //background-color: red;

    width:241px;
    height:316px;
    margin: 30px auto;
    border: 1px solid lightgray;
}

button{
    height:50px;
    font-size: 25px;
    border:.5px solid lightgrey;
    cursor: pointer;
}
.numbtn{
    width:60px;
    background-color: white;
    font-weight: 600;
}

.widebtn {
    width:180px;
    background-color: white;
}
.redbtn{
    width:61px;
    background-color: red;
}
